container {
    display: flex; 
    flex-wrap: wrap-reverse;
    flex-direction: row; 
  }
row {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
}
left {
    order: 1;
    justify-content: center;
    width: 30vmax; 
    min-height: 10vmax; 
    margin: 1vmax;
    border: 1vmax; 
    border-radius: 1vmax;
    padding: 1vmax; 
    background-color: cornflowerblue; 
    }
corner {
    order: 2;
    justify-content: center;
    min-width: 30vmax; 
    min-height: 20vmax; 
    margin: 1vmax;
    border: 1vmax;
    padding: 1vmax; 
    border-radius: 1vmax;
    background-color: lightcoral;  
}


main {
    order:2;
    width: 62vmax; 
    height: 62vmax;
    min-width: 500px;
    min-height: 500px;
    }

p, label, input {font-family:'Noto Sans TC', sans-serif; font-size: 1.5vmax; line-height: 1.2em;}

h1 {font-size: 6vw; line-height: 0.1em;}

table {
    border: 5px solid white !important;
    border-collapse: collapse;
    }

td {font-family:'Noto Sans TC', sans-serif; font-size: 6vmax;
    table-layout: fixed;
    width:15vw;
    height:15vw;
    border: 1px solid black;
    text-align: center;
    position: relative;
    }
    